* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #333;
    color: #fff;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover {
    color: #ff9800;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url("https://picsum.photos/1600/900") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background: #e68900;
}



/* About Section */
.about-section {
    padding: 60px 20px;
    background: #f5f5f5;
}

.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

/* Cards */
.about-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #ff9800;
}

.card p {
    color: #444;
}












































